body {
  font-family: 'Niramit', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

hr {
  border-style: solid none none;
  border-width:1px;
  border-color: #fff;
  margin: 5% auto;

}

.container-fluid {
  padding: 0 15%;
}

#title {
  background-color: #eeeeee;
}

.title-com {
  padding: 3% 8%;
}

#title h1 {
  padding: 7% 0 0 0;
  color: #00adb5;
}

#title p {
  padding: 7% 0 0 0;
  font-size: 2rem;
}

#content {
  background-color: #00adb5;
  padding: 2% 0 3% 0;
}

.report-content {
  min-height: 88vh;
}

#content .box-1 {
  margin: 5%;
  padding: 5%;
  background-color: #393e46;
  border-radius: 5px;

}

#content .search-title {
  text-align: center;
  padding: 1% 0 0 ;
  color: #fff;
}

#content .form-center {
  padding: 3% 5% 3%;
}

#content .form-center form {
  background-color: #fff;
  margin: auto;
  padding: 3px;
  display:flex;
  flex-direction:row;
  border:1px solid grey;
  border-radius: 5px;

}

#content .form-center input {
 flex-grow:2;
 border:none;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 border-radius: 5px;
}


#content .form-center input:focus {
 color: #495057;
 background-color: #fff;
 border-color: none;
 outline: 0;
 box-shadow: none;
}

#content .custom-select {
  flex-grow:2;
  border:none;
  border-radius: 5px;
  margin-top: 5px;
}

#content .custom-select:focus {
  color: #495057;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

#content .form-center button {
  border-radius: 50px !important;

}

#content .buton {
  text-align: center;
  margin-top: 1.25rem;
}

#content .report-grid-1 {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 7fr;
  justify-content: start;
  grid-gap: 1rem;
}

#content .report-grid-2 {
  color: #fff;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: start;
  grid-gap: 1rem;
}



#useful {
  background-color: #393e46;
  padding: 5% 5%;
}

#useful .card {
  margin: 3% 3%;
}

#footer {
  background-color: #222831;
  padding: 2% 0 1%;
  color: #ffffff;
  text-align: center;
}

#table {
  padding: 4%;
}

#top-btn {
  text-align: center;
  padding: 3% 0 3%;
}

#details-info {
  margin-bottom: 5rem;
  margin-top: 3rem;
}

#report_container {
  display: grid;
  grid-template-columns: 3fr 1fr ;
  justify-content: space-around;
  grid-gap: 1rem;
  padding-top: 3rem;
}

#reports-filter .filter {
  background-color: #393e46;
  padding: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}


@media (max-width: 768px) {
  .container-fluid {
    padding: 0;
  }

  #title {
    text-align: center;
  }
  div.row.td-edit-delete {
    flex-direction: column;
  }

  div.row.td-edit-delete .col-6{
    margin-bottom: 1rem;
  }

  #report_container {
    grid-template-columns: 1fr  ;
  }

  #table-admin {
    grid-row: 2;
  }

  #reports-filter div.filter {
    padding: 11%;
  }


}
